.about{
    
    position: relative;
    
    .progress {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 30px;
        text-align: center;
        color: orange;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    

.container {
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    height: 55%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin-top: 50px;
    //   margin: auto;
      display: flex;
    //   gap:-50px;
      

      .imageContainer {
        flex: 1;
        height: 80%;
        width: 100%;


        img {
          width: 80%;
          height: 80%;
          margin-left: 40px;
        //   object-fit: cover;

        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        // flex-direction: column;
        // gap: 10px;

        p {
          color: gray;
          font-size: 18px;
          line-height: 130%;
        }
}
    }
}
.tabs{
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: flex;
    margin: auto;
    flex-direction: row;
.tab_btn_inactive{
    border: none;
    background:none;
    width:200px;
    height:50px;
    border-radius: 30px;
    cursor: pointer;
    .style_btn{
        // width:200px;
        font-size: 25px;
        // border-radius: 60%;
        color: white;
        
    }
}
.tab_btn_active{
    border: none;
    // background: none;
    width:200px;
    height:50px;
    box-shadow: 0px 2px 2px ;
    border-radius: 30px;
    background:black;
    transition: transform 1s, background-position 0.3s ease;
    cursor: pointer;
    .style_btn{
        // width:200px;
        font-size: 25px;
        // border-radius: 60%;
        color:white;
        
    }
}

    .tab_btn_inactive:hover{
        box-shadow: 0px 2px 5px white;
        border-radius: 30px;
        background:none;
        transition: transform 1s, background-position 0.3s ease;
   
        // box-sizing: 30px;
    }

}
.wrapper2{
    display: flex;
    flex-direction: row;
    // margin: auto;
    // width: 100%;
    padding-top: 40px;
    padding-left:400px ;
    font-size: 20px;
    // align-items: center;
    // align-self: center;
    }
    
//     p{
//         align-items: center;
//         justify-content: center;
//         align-self: center;
//     }
// }
}

