.contact{
    width: 1366px;
    height:100%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 80px;
    gap : 0px;
.textContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    gap:40px;
    span{
        font-weight: 300;
    }
     h1{
        font-size: 50px;
        line-height: 150px;
        color: orange;
     }
     .item{
        h2{
        line-height: 170%;
     }
    }
}
.formContainer{
    flex : 1;

    .phoneSvg {
        stroke: orange;
        position: absolute;
        margin: auto;
        z-index: -1;
      }

    form{
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
    
    display: flex;
    
    input,textarea{
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
    .form_btn{
        background-color: orange;
        padding: 0;
        height: 50px;
        border-radius: 10px;
        color: black;
        font-size: 18px;
        font-weight: 520;
        cursor: pointer;
    }
    }

    
}


}