.sidebar{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;

    .bg{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        background: white;

        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: black;
            background: white ;
            gap: 20px; 
            a{
             font-size: 20px;
             color: black;
             font-style: None;
            }
         }
    }

    button{
        z-index: 999;
        width: 35px;
        height: 40px;
        border-radius: 50%;
        position: fixed;
        top: 32px;
        left: 7px;
        margin: auto;
        background-color: transparent;
        border: none;

    }
}